.top-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin : -60px;
  width: 80px;
}

.top-logo__image {
  width: clamp(80px, 15vw, 150px);
  height: auto;
  object-fit: contain;
}

.top-logo__name {
  font-size: var(--font-size-company);
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--color-text-primary);
  margin: 0;
}

@media (min-width: 768px) {
  .top-logo {
    
  }
}
